/*Kategorisida*/
.page-header {
  padding: 1rem;
  margin-left: 9%;
}

#clothing {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

#item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 32rem;
  text-align: left;
  cursor: pointer;

  img {
    align-self: center;
    height: 24rem;
    display: block;
  }
}
