.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #edf0f2;
  color: var(--main-h-color);
  border-bottom: 1px solid #c5cbd394;
}

.footer-top .content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}

.footer-column img {
  width: 200px;
  margin-top: -50px;
}

.footer-column span,
.footer-column a {
  font-size: 17px;
  color: var(--lightText);
  text-decoration: none;
}

.footer-column a:hover {
  color: var(--primary);
}

.footer-icon-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icon-row i {
  color: var(--primary);
  font-size: 20px;
}

.footer-bottom {
  background-color: #edf0f2;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  color: var(--secondary);
  font-size: 35px;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
}

.social-icons a:hover {
  color: var(--primary);
}
