/* Start product-page */
#product-section {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2 rem;
  padding: 2 rem; */

  #image-container {
    flex: 1;
    min-width: 600px;
  }

  #description-container {
    flex: 1;
    min-width: 460px;
    /* padding: 2rem; */
  }
}

.buy-btn {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.6s ease;
  text-transform: uppercase;
}

.buy-btn:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: translateY(-2px);
}

.buy-btn:active {
  transform: translateY(0);
  background: rgb(0, 247, 0);
}

#choose-size {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 12px 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.6s ease;
  appearance: none; /* Remove default styling */
  text-transform: uppercase;
  margin-left: 20px;
}

#choose-size:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: translateY(-2px);
}

#choose-size:focus {
  outline: 2px solid #a777e3;
  transform: translateY(0);
}

#choose-size option {
  color: #1b1b1b;
}

/* End product-page */
