@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-bg-color: #f5f7f9;
  --main-p-color: #64748b;
  --main-h-color: #000000;
  --main-placeholder-color: #b5a3b8;
  --navBorder: #e2e8f0;
  --primary: #64748b;
  --secondary: #94a3b8;
  --lightText: #191a1b;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  background-color: var(--main-bg-color);
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: black;

  .logo {
    font-weight: bold;
    font-size: larger;
    color: white;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  padding-left: 5%;
  color: white;
}

a:visited {
  color: black;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#ShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.right-side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ShoppingCart i {
  font-size: 30px;
  color: white;
}

#ShoppingCart span {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

/* Modal customization */
.modal.left .modal-dialog {
  position: fixed;
  width: 100vw;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  transition: transform 0.3s ease-out;
}

.modal.left .modal-dialog.modal-sm {
  max-width: 350px;
}

.modal.left .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modal.left.fade .modal-dialog {
  transform: translateX(100%);
}

.modal.left.fade.show .modal-dialog {
  transform: translateX(0);
}

/* Table adjustments */
.table-image {
  td,
  th {
    font-size: 0.9rem;
    text-align: left;
  }
}
.qty-container {
  display: flex;
  flex-direction: row;

  .decrease-btn-modal,
  .increase-btn-modal {
    width: 30px;
  }

  input {
    width: 40px;
  }
}

.price {
  font-size: 1rem;
}

/* Modal Footer */
.modal-footer {
  padding: 0.5rem;
}

/* Adjust close button */
.modal-header .close {
  padding: 0.5rem;
  margin: 0;
}

/*Kategorisida*/
.page-header {
  padding: 1rem;
  margin-left: 9%;
}

#womens-clothing,
#mens-clothing {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
#item-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 32rem;
  text-align: left;

  img {
    align-self: center;
    height: 24rem;
    display: block;
  }

  button {
    align-self: flex-start;
  }
}

#ShoppingCart {
  position: relative;
  font-size: 2rem;
  margin-left: auto;
  padding-right: 3%;
  color: white;
}

/*Hero section*/
#brand {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
}

.brand-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#brandImage {
  height: 60%;
  background-image: url("src/images/webshop_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#introduction {
  height: 40%;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.brandNamn {
  flex: 1;
  min-width: 300px;
}

.brandText {
  flex: 2;
}

.brandNamn h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--main-h-color);
  font-size: 2.4rem;
  margin: 0;
}

.brandText p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--lightText);
  line-height: 1.6;
  margin: 0;
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  #introduction {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 20px;
  }

  .brandNamn h1 {
    font-size: 2.5rem;
  }
}
/*End Hero section*/

/* Checkout */
.main-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 30px;
}

.payment-form {
  width: 40%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-form h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.payment-form form label {
  display: block;
  margin-bottom: 8px;
}

.payment-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-form form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-form form button:hover {
  background-color: #444;
}

.cart-item {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--navBorder);
  align-items: flex-start;
  gap: 15px;
}

.cart-item-image {
  flex-shrink: 0;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.cart-size label,
.cart-quantity label {
  margin-right: 5px;
  font-weight: bold;
  color: var(--main-h-color);
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.quantity-btn:hover {
  background-color: #444;
}

.cart-quantity-input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Remove arrow on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-price {
  font-size: 1.2em;
  color: var(--primary);
}

.btn.btn-danger {
  background-color: transparent;
  padding: 5px;
  padding-top: 0;
  margin: 10px 20px;
  border: none;
  color: var(--primary);
  cursor: pointer;
}

.btn.btn-danger:hover {
  color: var(--main-h-color);
}

.btn.btn-danger i {
  font-size: 22px;
}

.cart-items {
  margin-top: 20px;
}

.cart-total {
  font-weight: bold;
  margin-top: 20px;
}

.thank-you-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 14px;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End Checkout */

/* Start product-page */
#product-section {
  display: flex;
  flex-wrap: wrap;

  #image-container {
    width: 50vw;
  }

  #description-container {
    width: 50vw;
    padding: 5rem;
  }
}

/* footer styling */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-top {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf0f2;
  color: var(--main-h-color);
  border-bottom: 1px solid #c5cbd394;
}

.footer-top .content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
}

.footer-column img {
  width: 200px;
  margin-top: -50px;
}

.footer-column span,
.footer-column a {
  font-size: 17px;
  color: var(--lightText);
  text-decoration: none;
}

.footer-column a:hover {
  color: var(--primary);
}

.footer-icon-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icon-row i {
  color: var(--primary);
  font-size: 20px;
}

.footer-bottom {
  width: 100%;
  background-color: #edf0f2;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  color: var(--secondary);
  font-size: 35px;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
}

.social-icons a:hover {
  color: var(--primary);
}

@media (max-width: 768px) {
  .footer-top .content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer-column {
    flex: 1 1 100%;
    margin: 0;
  }

  /* First column with logo */
  .footer-column:first-child {
    align-items: center;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-icon-row {
    justify-content: flex-start;
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .footer-icon-row {
    justify-content: flex-start;
  }

  .social-icons {
    gap: 15px;
  }

  .social-icons a {
    font-size: 30px;
    padding: 8px;
  }

  .main-container {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 30px;
  }
  .payment-form {
    width: 100%;
  }
}
/* End footer styling */
