:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100vw;

  p {
    padding-left: 2%;
    font-weight: bold;
    font-size: larger;
  }
  a {
    text-decoration: none;
    padding-left: 5%;
  }

  a:visited {
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }

  i {
    /* align-self: flex-end; */
  }
}
