@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-bg-color: #f5f7f9;
  --main-p-color: #64748b;
  --main-h-color: #000000;
  --main-placeholder-color: #b5a3b8;
  --navBorder: #e2e8f0;
  --primary: #64748b;
  --secondary: #94a3b8;
  --lightText: #191a1b;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html,
body {
  background-color: var(--main-bg-color);
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: black;

  .logo {
    font-weight: bold;
    font-size: larger;
    color: white;
  }
}

a {
  text-decoration: none;
  padding-left: 5%;
  color: white;
}

a:visited {
  color: black;
  color: white;
}

a:hover {
  text-decoration: underline;
}

/*Kategorisida*/

#womens-clothing,
#mens-clothing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
#item-container {
  width: 20%;
  height: 32rem;
  text-align: left;

  img {
    height: 24rem;
    max-width: 100%;
    display: block;
  }
}

#ShoppingCart {
  font-size: 2rem;
  margin-left: auto;
  padding-right: 3%;
  color: white;
}
/* Checkout */
.main-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 0 30px;
}

.payment-form {
  width: 40%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-form h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.payment-form form label {
  display: block;
  margin-bottom: 8px;
}

.payment-form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-form form button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-form form button:hover {
  background-color: #444;
}

.cart-item {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--navBorder);
  align-items: flex-start;
  gap: 15px;
}

.cart-item-image {
  flex-shrink: 0;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.cart-size label,
.cart-quantity label {
  margin-right: 5px;
  font-weight: bold;
  color: var(--main-h-color);
}

.cart-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.quantity-btn:hover {
  background-color: #444;
}

.cart-quantity-input {
  width: 50px;
  text-align: center;
  font-size: 16px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Remove arrow on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-price {
  font-size: 1.2em;
  color: var(--primary);
}

.btn.btn-danger {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  padding: 5px;
  margin: 10px 20px;
  border: none;
  color: var(--primary);
  cursor: pointer;
}

.btn.btn-danger:hover {
  color: var(--main-h-color);
}

.btn.btn-danger i {
  font-size: 22px;
}

.cart-items {
  margin-top: 20px;
}

.cart-total {
  font-weight: bold;
  margin-top: 20px;
}

.thank-you-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 24px;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End Checkout */
/* footer styling */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-top {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--main-h-color);
  border-bottom: 1px solid var(--navBorder);
}

.footer-top .content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

.footer-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column img {
  width: 160px;
}

.footer-column span,
.footer-column a {
  font-size: 17px;
  color: var(--lightText);
  text-decoration: none;
}

.footer-column a:hover {
  color: var(--primary);
}

.footer-icon-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-icon-row i {
  color: var(--primary);
  font-size: 20px;
}

.footer-bottom {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  color: var(--secondary);
  font-size: 35px;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
}

.social-icons a:hover {
  color: var(--primary);
}
/* End footer styling */
